.loginContainer {
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;

    background: var(--blue);
}

.loginAreaContainer {
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: var(--title);
    

    margin: 0 5%;

    width: 40%;
    height: 80%;

    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    background: var(--background);

}

.loginAreaContainer h1 {
    font-size: 4rem;

    font-weight: 600;
}

.loginButtonsContainer {
    display: grid;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}

.loginButtonsContainer button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    height: 10%;
    background: var(--blue);

    color: var(--white);

    font-size: 1rem;

    font-weight: 600;

    transition: background-color 0.2s;
}

.loginButtonsContainer button:hover {
    background: var(--blue-dark);
}

.loginButtonsContainer button img {
    margin-left: 1rem;
    height: 20px;
}

.loginButtonsContainer span {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 2rem;
}

